body{
    font-family: 'Raleway', sans-serif; 
    margin: 2rem 0rem 0rem 0rem;
    background-image: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat; 
    background-size: 400% 130%;  /*width height*/ 
    /*background-size: 100% 300%;*/
    /*background-position: -80rem 45rem;/*horizontal vertical*/
    /*background-position: -105rem 45rem;*/
    background-position: 50% -380%;
    /*background-position: 20% 80%;*/
    /*height: 600px;*/
    height: 600px;
    
}  

.container{
    
    margin: 0rem 2rem 0rem 2rem;
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    color: hsl(238, 22%, 44%)
}

.nav-logo{   
    width: 8rem;
    
}

.nav-links{
    display: flex;
    flex-direction: row;
    
}

/*All your files in one secure*/

.div1{
    background-image: url("../images/illustration-1.svg");
    background-repeat: no-repeat;
    margin-top: 5rem;
    background-size: 50% 90%; /*width height*/
    background-position: 95% 0%;
    height: 450px;
    /*margin-left: 2rem;
    margin-right: 2rem;*/
    
}

.child-div1{
    padding-top:6rem;
    font-size: 0.8rem;
}

.div-1p{
    line-height: 0.3rem;
    font-size: 0.8rem;
}

.child-div1>form{
    margin-top: 1.5rem;
    
}

.searchbar1{
    width: 16.8rem;
    padding: 0.6rem 0rem 0.6rem 1rem;
}

.submit1{
    margin-left: 0.5rem;
    padding: 0.6rem 0rem 0.6rem 0rem;
    width: 10.5rem;
    background-color: hsl(224, 93%, 58%);
    border-radius: 0.2rem;
    color: white;
    border-color: hsl(224, 93%, 58%);;
}

/*Stay Productive*/

.div2{
    
    /*margin: 20rem 2rem 0rem 2rem;  */
    margin-top: 20rem;
    background-image: url("../images/illustration-2.svg");
    background-position: 95% 0%;
    background-size: 50% 85%;
    background-repeat: no-repeat;
    
}



.div2-p1{
    margin-top: 2rem;
    line-height: 0.5rem;
    font-size: 0.8rem;
}

.div2-p2{
    margin-top: 1.8rem;
    line-height: 0.5rem;
    font-size: 0.8rem;
}

.div2-a{
    margin-top: 1.8rem;
    font-size: 1rem;
    color: green;
    text-decoration-line: underline;
    
}

.div2-box{
    background-color: white;
    margin-top: 2rem;
    width: 16.5rem;
    font-size:0.8rem;
    line-height: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
}

.avatar{
    display: flex;
    flex-direction: row;
}

.avatar>img{
    width: 20%;
    border-radius: 50%;
}

.id_role{
    margin-left:0.5rem;        
}

.role{
    font-size:0.7rem;
}

/*Get early access*/

.div3{
    background-color: hsl(238, 22%, 44%);    
    margin-top: 6rem;
    height: 40%;
    color: white;
}

.div3-contain{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.div3-p{
    font-size:0.8rem;
    line-height: 0.5rem;
    margin-top:1rem;
}

.div3 form{
    display: flex;
    flex-direction: column;
    padding-top: 1.7rem;
    
}

.searchbar2{
    width: 28.8rem;
    padding: 0.6rem 0rem 0.6rem 1rem;
}

.submit2{
    margin-top: 1rem;
    padding: 0.6rem 0rem 0.6rem 0rem;
    width: 10.5rem;
    background-color: hsl(224, 93%, 58%);
    border-radius: 0.2rem;
    color: white;
    border-color: hsl(224, 93%, 58%);
}

/*Footer*/

footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    height: 60%;
    
}

.footer1{
    display: flex;    
    justify-content: space-between;
    padding-right: 26rem;
    /*margin-right: 20rem;*/
    padding-top: 5rem;
}

.footer-div2{
    padding-top: 3.1rem;
}

.footer-div3{
    padding-top: 3.1rem;
}
    
/*MediaQuery section 923px, 58rem*/

@media(max-width:58rem){

    body{
        
        /*height: 180vh;*/
        height: 1080px;
        background-position: 50% -300%;
    }


    .div1{   
        background-size: 50% 90%; /*width height*/
        background-position: 50% 0%;
        height: 420px;
        /*margin-left: 2rem;
        margin-right: 2rem;*/    
    }

    .child-div1{
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding-top:27rem;      
    }

    .div-1h{
        line-height: 1rem;
    }

    .div-1p{
        line-height: 0.5rem;
    }

    .child-div1>form{
        display: flex;
        flex-direction: column;
    }

    .searchbar1{
        width: 24rem;
        padding: 0.6rem 0rem 0.6rem 1rem;
    }

    .submit1{
        margin: 1rem 0rem 0rem 0rem;        
        width: 24rem;
        
    }

    /*Stay Productibe*/

    .div2{
    /*margin: 20rem 2rem 0rem 2rem;  */
        background-position: 50% 0%;
        background-size: 50% 85%;  
        height: 420px;     
        margin-top: 33rem; 
    }



    .container-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2rem;
        padding-top: 28rem;
        
    }

    .div2-p1{
        margin-top:1rem;
    }

    .div2-p2{
        margin-top:0.7rem;
    }

    .div2-box{
        margin-top: 2.8rem;
    }


    /*Get access today*/

    .div3{
        margin-top: 38rem;
        
    }

    .div3-contain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div3-h{
        padding-left: 3rem;
    }

    .searchbar2{
        width: 24rem;
        
    }

    .submit2{
        
        width: 24rem;
        
    }

    /*footer*/

    
    
    .footer1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0rem;
    }

    #fylo-footer{
        padding-left: 1.8rem;
    }

    .footer-div2{
        margin-top: -1rem;
    }

    .footer-div3{
        margin-top: -1rem;
    }





 
